body{
    font-family: 'Roboto' , sans-serif;
    color:#434455 ;
    background-color: #ffffff;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
}


ul{
    margin: 0;
    padding: 0;
    list-style: none;
}


a{
    text-decoration: none;
}


.section-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42; 
}


h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}


.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1158px;
}


.section{
    padding-top: 120px;
  padding-bottom: 120px;
}


.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}


.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}