.footer{ 
    background-color: #2E2F42;
    padding: 100px;
    
   
}


.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    color: #f4f4fd;
    text-decoration: none;
    margin-bottom: 16px;
}


.logo-blue {

    color: #4d5ae5;
}


.footer-text {
    color: #f4f4fd;       
    line-height: 1.5;    
    letter-spacing: 0.02em;
    max-width: 264px;
}


.social-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
   
   
}


.container-footer{
    display: flex; 
    margin: 0 auto;
    padding: 0 15px;
    
}

.footer-social{
    margin-left: 120px;
}
 




.footer-linc{
   width: 40px;
   height: 40px;
   background-color: #4d5ae5;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-linc:hover, 
.footer-linc:focus{
    background-color: #31d0aa;
}


.footer-social-list{
    gap: 16px;
}






.footer-subscribe-block {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
  margin-left: 83px;
}

.footer-subscribe-title {
  color: #ffffff;
  font-weight: 500;
}

.footer-subscribe-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
}

.footer-subscribe-input {
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 2;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  padding-block: 8px;
  padding-inline: 16px;
  width: 264px;
  height: 40px;
  color: #ffffff;
  background-color: #2e2f42;
  transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-input[type='email'] {
  padding-left: 16px;
}

.footer-subscribe-input::placeholder {
  color: #ffffff;
}

.footer-subscribe-input:hover,
.footer-subscribe-input:focus {
  border-color: #31d0aa;
}

.footer-subscribe-button {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  border: none;
  border-radius: 4px;
  padding-block: 8px;
  padding-inline: 24px;
  width: 165px;
  height: 40px;
  max-width: 165px;
  color: #ffffff;
  background: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
    transition: 
        0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background:#31d0aa;
}